@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@plugin "flyonui" {
  themes: light --default, light --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  logs: true;
}

